#heading{
    color:grey;
    background-color:black;
    font-size:xx-small;
    font-family:sans-serif;
    padding-top:5px;
    padding-bottom: 5px;
    padding-left:25px;
}


ul{
    list-style-type:none;
    
  
}
ul li{
    border:0.1px black solid;
    
   
    
   
   
}

button{
    
   
  color:black;



padding-top:10px;

}
ul li {
    cursor: pointer;
    position: relative;
    padding: 15px 80px 15px 45px;
    width:350px;
    font-size: 14px;
    transition: 0.2s;
  font-family: sans-serif;
    
    border-radius: 2px;
    border:0.5px grey solid;
}
#box1{
  margin-left:160px;
}

ul li:hover {
    background: #ddd;
  }

  ul li.checked {
    
    color:black;
    text-decoration: line-through;
  }

  ul li.checked::before {
    content: '';
    position: absolute;
    border-color:rgb(40, 138, 202);
    
    border-style: solid;
    border-width: 0 2px 2px 0;
    
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
 

  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
    
  }

  .header:after {
    content: "";
    display: table;
    clear: both;
    
  }
  
/*ul li::before { 
      
    content: '';   
    display: inline-block;   
    height: 10px;   
    width: 10px;    
    background-size: 10px;   
    background-image: url("https://cdn0.iconfinder.com/data/icons/social-messaging-ui-color-shapes/128/check-square-blue-512.png");   
    background-repeat: no-repeat;   
    margin-right: 20px;
    background-position: center center;
    vertical-align: middle;
    
}
*/


#input_text{
    display: inline-block;
    position: absolute;
    color:grey;
    padding-left:10px;
    padding-top:5px;
    padding-bottom: 5px;
    padding-right:150px;
    border-radius: 3px;
    
}


 .add-btn  {

position: relative;
margin-left: 350px;
padding:5px 10px 5px 10px;
border-radius: 3px;
background-color: rgb(95, 147, 241);
color:white;
}
#title{
    margin-left:175px;
    margin-top:40px;
}
 #input{
    margin-top:20px;
    margin-left:240px;
    
}